# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# VSCode / PyCharm / JetBrains
.idea/
.vscode/

# Environment variables
.env

# Model & data artifacts
grammar_bert_model/
results/
src/data/translated_cefr_dataset.csv
ielts_regression_bert
results_regression

# Static files
static/

# Telegram bot cache/output
telegram_bot/

# Other files
frontend/requirements1.txt
